<div>
    <div class="header">
        <h1>Hobbies</h1>
        <p>Lorem ipsum dolor sit, amet 
            consectetur adipisicing elit. 
            Facere libero nemo deleniti 
            ut reiciendis similique dolor, 
            ea ipsam placeat eius perspiciatis
            fuga, rerum autem officia aut 
            repudiandae unde nam tempore.
        </p>
    </div>
    <div>
        <h3>Knitting</h3>
        <p>Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Nam cum nemo alias
            in natus aspernatur quisquam quos 
            sint perspiciatis optio neque et 
            corrupti quia, beatae non, dicta ad totam? Nam.
        </p>
        <div class="image-gallery">

        </div>
    </div>
    <div>
        <h3>Crochet</h3>
        <p>Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Nam cum nemo alias
            in natus aspernatur quisquam quos 
            sint perspiciatis optio neque et 
            corrupti quia, beatae non, dicta ad totam? Nam.
        </p>
        <div class="image-gallery">

        </div>
    </div>
    <div>
        <h3>Travel</h3>
        <p>Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Nam cum nemo alias
            in natus aspernatur quisquam quos 
            sint perspiciatis optio neque et 
            corrupti quia, beatae non, dicta ad totam? Nam.
        </p>
        <div class="image-gallery">

        </div>
    </div>
</div>