<h1>Madison Blotter</h1>
<h2>Software Engineer</h2>
<p>Welcome to my poryfolio. Here you can see
    some of the projects that I've worked on.
</p>
<div id="project-display">
    <h3>Project Section</h3>
    <div id="project-carousel">  

    </div>
</div>

<div id="picture-display">
    <div>
        <h3>Pictures</h3>
        <p></p>
    </div>
    <div id="picture-grid">
        
    </div>
</div>