<h1>Madison Blotter</h1>
<h3>Software Engineer</h3>
<hr>


<div id="skills">
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<div id="education">
    <div>
        <h3>Dayton Regional STEM School</h3>
        <h4>High School</h4>
    </div>
    <div>
        <h3>Brigham Young Univserity Idaho</h3>
        <h4>Bachelors of Science</h4>
        <h4>Software Engineering</h4>
        <h4>GPA: 2.9</h4>
    </div>
</div>
<div id="work-experience">
    <h2>Work Experience</h2>
    <hr>
    <div>
        <h3>Full-stack Intern</h3>
        <h5>Brigham Young University Idaho</h5>
        <ul>
            <li>
                Created wireframes and desgin 
                mockups for webpages using Figma
            </li>
            <li>
                Used REACT JS to develop webpages
            </li>
            <li>Created and updated API's using C# 
                and connect them to the frontend
            </li>
            <li>Collaborate with a team using 
                the SCRUM development process
            </li>
            <li>Create and update backend 
                controllers with C# to connect 
                to a SQL database
                and dynamically update the frontend
            </li>
            <li>
                Learned and applied a new framework 
                to existing infrastructure
            </li>
            <li>
                Evaluate and provided feedback 
                to merge requests on GitHub
            </li>
            <li>
                Peer program and review code 
                to ensure current objectives 
                and goals were being met
            </li>
            <li>
                Led team meetings and sprint reviews
            </li>
        </ul>
    </div>
    <div>
        <h3>User Experience Designer</h3>
        <ul>
            <li>
                This project was done 
                for one of my professor's 
                personal web development company
            </li>
            <li>
                Redesign an old Ecommerce 
                site using design principals to 
                make it easier for clients to use 
                and more visually pleasing
            </li>
            <li>
                Use Figma to create wireframes and 
                provide detailed explanations of 
                placement and material to use on the site
            </li>
            <li>
                Receive feedback from clients and adjust 
                designs accordingly
            </li>
        </ul>
    </div>
    <div>
        <h3>Development Intern</h3>
        <h5>Sentinel of Safety</h5>
        <ul>
            <li>
                Used Adobe Creative Cloud to design
                 digital and printable marketing 
                 material for distribution
            </li>
            <li>
                Participated in weekly meetings 
                to discuss strategy and planning 
                with marketing and developmental teams
            </li>
            <li>
                Learned how to use WebFlow on the job 
                to aid in marketing
            </li>
        </ul>
    </div>
    <div>
        <h3>Customer Support Specialist</h3>
        <h5>Brigham Young University Idaho</h5>
        <ul>
            <li>
                Calmly communicated with people 
                of various backgrounds, languages, 
                and stress levels
            </li>
            <li>
                Sifted through a large knowledge 
                base to find key information
            </li>
            <li>
                Practiced continuing education 
                through meetings and online courses
            </li>
            <li>
                Took key notes while talking with 
                others and summarize the problem 
                they faced and how the issue was solved
            </li>
            <li>
                Communicated clearly in different ways
                 to ensure that anyone I talked to could
                 understand what was being explained
            </li>
        </ul>
    </div>
</div>